*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilo de la barra de navegación*/
#barra{
    height: 100px;
    background-image: url(../img/cirfon.jpg);
}
.nav-link{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    color:white;
    text-shadow: 1%;
}
/*Para el botón de inicio*/
li[data-ini="principio"]{
    background-color: rgb(121, 159, 255);
    border-radius: 4px;
}
/*Para el menú desplegable en pantallas pequeñas*/
ul[data-lista="barramenu"]{    
    text-align: start;
    align-tracks: end;
    position: absolute;
}
li[data-karaoke="sing"]{
    background-color: rgb(218, 127, 42);
    border-radius: 4px;
}
li[data-wiki="wiki"]{
    background-color: rgb(31, 43, 72);
    border-radius: 4px;
}

/*Estilo general del cuerpo index*/
body{
    background: rgb(13,11,77);
    background: linear-gradient(90deg, rgba(13,11,77,1) 0%, rgba(73,145,159,1) 73%, rgba(14,175,151,1) 100%);
    background-attachment: fixed;
}

h2{
    text-align: center;
    margin-top: 4%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color:rgb(12, 12, 49);
}

/*Estilo de las tarjetas en página principal index*/
.card{
    display: grid;
    margin: auto;
    width: 40%;
    height: 300%;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:lightblue;
}
h5{
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:oblique;
    color:rgb(12, 12, 49);
}
.card-text{
    font-size: 18pt;
    color:rgb(12, 12, 49);
}

/*Estilo del cuerpo de paginas digimon por nivel*/
    
    /*Estas dos clases siguientes aplican en todas las páginas de digimons por nivel*/
    .tarjeta{
        display: inline-block;
        margin: 4%;
        background-color: lightblue;
        border: solid 3px rgb(37, 37, 45);
        border-radius: 10px;
    }
    .diginombre{
        font-size: 2rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-top: solid 3px gray;
        border-bottom: solid 3px gray;    
    }
    .digifoto{
        margin-top: 4%;
        margin-bottom: 4%;
        border: solid 3px rgb(37, 37, 45);
        border-radius: 10px;
    }
    /*Alineación y color de texto por nivel*/
    #tarjetas{
        text-align: center;
        color: rgb(44, 66, 233);
    }
    #trainin{
        text-align: center;
        color: rgb(44, 66, 233);
    }
    #rookie{
        text-align: center;
        color: rgb(44, 66, 233);
    }
    #champion{
        text-align: center;
        color: rgb(44, 66, 233);
    }
    #ultimate{
        text-align: center;
        color: rgb(44, 66, 233);
    }
    #mega{
        text-align: center;
        color: rgb(44, 66, 233);
    }

/*Cambios de color del h2*/
#digicolor{
    animation: rainbow 2s infinite ease-in-out;
}
@keyframes rainbow{
    25%{
        color: aqua;
    }
    50%{
        color: orangered;
    }
    75%{
        color: greenyellow;
    }
}

/*Footer con gif*/
#ninos{
    height: 7rem;
}
#footer{
    text-align: center;
}